
.dark#login_form{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i{
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0%{
        background-color: var(--color-dark-100);
    }
    100%{
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    100%{
        background-color: var(--color-dark-100);
    }
    0%{
        background-color: var(--color-light-50);
    }
}