body{
    background-color: #d95550;
    height: 3000px;
    font-family: arial;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
button:hover{
    cursor: pointer;
}
.task-name{
    display: block;
    position: static;
    top: 420px;
    left: 435px;
    right: 453px;
}
.task-name p{
    text-align: center;
    line-height: 10px;
}
.number{
    color: #EAA09D;
}
.task{
    padding-left: 3px;
    color: white;
}