.header{
    display: flex;
    height: 60px;
    width: 620px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}
/*left section*/
.left-section{
    display: flex;
    align-items: center;
    height: 100%;
    width: 390px;
}
#icon-logo{
    height: 20px;
}
#title-heaeder{
    color: white;
    font-weight: 700;
    padding-left: 5px;
}

/*right section*/
.right-section{
    display: flex;
    align-items: center;
    flex: 1;
}
.buttons-container{
    width: 190px;
    display: flex;
    justify-content: space-around;
}
.buttons-container button{
    height: 32px;
    width: 85px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #BF71A7;
    color: white;
}
.buttons-container:hover button{
    background-color: #be78a9;
}
.button-icon{
    height: 16px;
}

#profile-pic{
    height: 32px;
    border-radius: 4px;
    margin-top: 4px;
}
