.timer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 48px;
    margin-bottom: 27px;
    background-color: #E17773;
    height: 320px;
    width: 460px;
    border-radius: 5px;
}
.breaks{
    display: flex;
    width: 70%;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #E17773;
}
/*alterar com JS*/
.breaks button{
    height: 27px;
    width: 110px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.inactive-btn{
    background-color: #E17773;
}
.active-btn{
    background-color: #d95550;
}
/*------------clock------------*/

.clock{
    background-color: #E17773;
    display: flex;
    width: 70%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.clock p{
    font-family: arial;
    font-weight: normal;
    font-size: 120px;
    color: white;
    font-weight: 700;
}
.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E17773;
    display: flex;
    width: 70%;
    flex: 1;
    padding-bottom: 30px;
}
#start-button{
    background-color: white;
    border: none;
    border-radius: 3px;
    height: 60px;
    width: 180px;
    box-shadow: 0px 6px 0px rgb(235, 235, 235);
}
#start-button p{
    font-size: 22px;
    margin-top: 16px;
    color: #d95550;
    font-weight: 700;
}